//
// utilities: mixins.scss
//
//

// Settings
$experimental-support-for-svg: true;
$legacy-support-for-ie7: true;
$legacy-support-for-ie8: true;

@mixin background-with-css2-fallback($background-1, $background-2: false, $background-3: false, $background-4: false) {
	$backgrounds: compact($background-1, $background-2, $background-3, $background-4);
	$mult-bgs: -compass-list-size($backgrounds) > 1;
	$simple-background: if($mult-bgs or prefixed(-css2, $backgrounds), -css2(-compass-nth($backgrounds, first)), false);
	@include background($background-1, $background-2, $background-3, $background-4);
	@if not blank($simple-background) {
		background: $simple-background;
	}
}

// Disable user selection on elements;
@mixin no-user-select {
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

// dynamic sprite
@import "sprite/*.png";

$sprite: sprite-map("sprite/*.png", $spacing: 13);
$sprite-background: sprite-url($sprite);

@mixin sprite-background-image($selector, $setWidth: false, $offset-x: 0, $offset-y: 0, $setHeight: false) {
	background-image: $sprite-background;
	background-position: sprite-position($sprite, $selector, $offset-x, $offset-y);
	background-repeat: no-repeat;
	@if $setHeight {
		height: image-height(sprite-file($sprite, $selector));
	}
	@if $setWidth {
		width: image-width(sprite-file($sprite, $selector));
	}
}

@mixin sprite-background-position($selector, $offset-x: 0, $offset-y: 0) {
	background-position: sprite-position($sprite, $selector, $offset-x, $offset-y);
}

