body,.contain{width:940px;margin:0 auto}
.call-to-action{float:left;width:220px;margin-right:20px}
#sidebar{float:left;width:300px;}
blockquote{padding:8px;padding-left:8px;padding-right:8px;border:solid 1px #000;border-left-width:1px;border-right-width:1px;float:left;width:282px;margin-right:20px}
#logo{float:left;width:140px;left:-60px;position:relative;}
